body{
  font-family: Karla,sans-serif;
  font-weight: 400;
}

.background{
  background-image: url("assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
  height: 100vh;
}

.putih, #nav-toggle-button, .fa-white{
  color:white;
}

.kotak{
  border-radius: 25px;
}

.isi{
	padding: 40px;
}

.zero{
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(34, 38, 42, 0.03)!important;
}

.img{
	width:10%
}