body{
  font-family: Karla,sans-serif;
  font-weight: 400;
}

.putih, #nav-toggle-button, .fa-white{
  color:white;
}

.kotak{
  border-radius: 25px;
}

.isi{
	padding: 40px;
}

table{
  background-color: rgb(181, 184, 187)!important;
}

.img{
	width:10%
}